
.q_7hS ._1mplE, .q_7hS ._1SuBk {
    margin: 0 8px 8px 0;
}
._1mplE {
    box-sizing: border-box;
    display: inline-block;
    height: 95px;
    margin: 0 6px 6px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: top;
    width: 95px;
}
._3BJtT, ._20pqz {
    width: 100%;
    height: 100%;
}
.q_7hS ._3IhNg {
    list-style: none;
}
._20pqz {
    cursor: move;
    overflow: hidden;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
._3BJtT, ._20pqz {
    width: 100%;
    height: 100%;
}
._1cS9Q {
    right: 0;
    z-index: 1;
    top: 0;
    position: absolute;
    background-color: rgba(0,47,52,.64);
    color: #fff;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
._1cS9Q {
    color: #fff !important;
}
// .rui-3_XwO::before {
//     content: "\E917";
// }
.rui-3_XwO::before {
    content: "x";
}
.rui-1XUas::after, .rui-1XUas::before {
    display: inline-block;
    font-size: 24px;
    vertical-align: middle;
    font-family: olx-icons !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.modal-dialog {
    max-width: 800px !important;
}
