<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel2">
    <span *ngIf="!isDataLoaded">Please wait...</span>
    <span *ngIf="isDataLoaded">Adding Product</span></h5>
  <button type="button" class="close" (click)="closeMe()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form name="pinCategoryForm" method="post" novalidate="novalidate">
  <div class="modal-body">

    <!-- Loader  -->
    <div *ngIf="!isDataLoaded" class="row justify-content-center">
      <div class="col-2">
        <div class="loader-box">
          <div class="loader">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Records -->
    <div *ngIf="isDataLoaded">

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="itemName">Product Name</label>
            <input name="name" type="text" [(ngModel)]="insertForm.name" required placeholder="Product Name"
              class="form-control form-control-alternative">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="itemName">Category</label>
            <select class="form-control input-air-primary" [(ngModel)]="insertForm.categoryId" name="categoryId" id="CategoryId" required (change)="onChangeSubCategory($event.target.value)">
              <option value="" selected>Select Category</option>
              <option *ngFor="let subCat of Categories" value="{{subCat._id}}">{{subCat.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="itemName">Has Variation?</label>
            <select class="form-control input-air-primary" [(ngModel)]="insertForm.variationFlag" name="variationFlag" id="variationFlag" required>
              <option value="" selected>Select</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div class="form-group">
            <label for="itemName">Variation</label>
            <select class="form-control input-air-primary" [(ngModel)]="insertForm.variationId" name="variationId" id="variationId">
              <option value="" selected>Select Variation</option>
              <option *ngFor="let varts of Variations" value="{{varts._id}}">{{varts.name}}
              </option>
            </select>
          </div>
        </div> -->
        <div class="col-md-4">
          <div class="form-group">
            <label for="name">Language</label>
            <select class="form-control input-air-primary" [(ngModel)]="insertForm.languageId" name="languageId">
              <option value="" selected disabled>Select Language</option>
              <option *ngFor="let subCat of Languages" value="{{subCat._id}}">{{subCat.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="name">Translation Category</label>
            <select class="form-control input-air-primary" [(ngModel)]="insertForm.LangcategoryId" name="LangcategoryId">
              <option value="" selected disabled>Select Translation Category</option>
              <option *ngFor="let subCat of Translations" value="{{subCat._id}}">{{subCat.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="itemName">Description</label>
            <input name="description" type="text" [(ngModel)]="insertForm.description" required placeholder="Description"
              class="form-control form-control-alternative">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="itemName">Width</label>
            <input name="width" type="text" [(ngModel)]="insertForm.width" required placeholder="Width"
              class="form-control form-control-alternative">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="itemName">Height</label>
            <input name="height" type="text" [(ngModel)]="insertForm.height" placeholder="Height"
              class="form-control form-control-alternative">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="itemName">Price</label>
            <input name="price" type="text" [(ngModel)]="insertForm.price" placeholder="Price"
              class="form-control form-control-alternative">
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label for="itemName">Product Text</label>
            <input name="productText" type="text" [(ngModel)]="insertForm.productText" placeholder="Product Text"
              class="form-control form-control-alternative">
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label for="itemName">Product Link</label>
            <input name="productLink" type="text" [(ngModel)]="insertForm.productLink" placeholder="Product Link"
              class="form-control form-control-alternative">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="itemName">Has Scaling?</label>
            <select class="form-control input-air-primary" [(ngModel)]="insertForm.scalingFlag" name="scalingFlag" id="scalingFlag" required>
              <option value="" selected>Select</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="itemName">Default Scaling</label>
            <input name="defaultScaling" type="text" [(ngModel)]="insertForm.defaultScaling" placeholder="Default Scaling e.g. 10%"
              class="form-control form-control-alternative">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="itemName">Auto Play Flag</label>
            <select class="form-control input-air-primary" [(ngModel)]="insertForm.autoPlayFlag" name="autoPlayFlag" id="autoPlayFlag" required>
              <option value="" selected>Select</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
        </div>
        

        <div class="col-12">

    
          <div class="row with-forms">

            <label for="inputEmail3" class="col-12 col-form-label">Model</label>
            <div class="col-6">
              <button type="button" (click)="itemImageUpload('categoryIcon')" class="btn btn-secondary waves-effect m-b-5">
                <i class="fa fa-image m-r-5"></i>
                <span>Choose Image</span>
              </button>
              <input id="categoryIcon" (change)="itemImageGetfiles($event,'categoryIcon')"
                type="file" style="display: none;" autocomplete="off">

            </div>


            <br />
            <!-- <p *ngIf="listingGalleryUrl.length > 0">Bridal Room Images</p> -->
            <div class="_2vNUv" aria-disabled="false" *ngIf="categoryIconUrl.length > 0">
              <div class="q_7hS" data-aut-id="imagesPreview">
                <ul class="_3IhNg"></ul>


                <li class="_1mplE zoomImage" draggable="true" *ngFor="let url of categoryIconUrl; let i=index;">
                  <div class="_3BJtT" *ngIf="categoryIcon[i].type != ''" data-aut-id="listSortable">
                    <div class="_20pqz" [ngStyle]="{'background-image': 'url(' + url + ')'}" data-aut-id="image"></div>
                    <a class="_1cS9Q">
                      <span (click)="removeImage(i,'categoryIcon')" class="rui-1XUas rui-3_XwO"></span>
                    </a>
                  </div>
                  <div class="_3BJtT" *ngIf="categoryIcon[i].type == '' || categoryIcon[i].type == 'application/x-zip-compressed'" data-aut-id="listSortable">
                     <div class="_20pqz" [ngStyle]="{'background-image': 'url('+defaultImage+')'}" data-aut-id="image">
                      <!-- <p>{{categoryIcon[i].name}}</p> -->
                     </div>
                   
                    <a class="_1cS9Q">
                      <span (click)="removeImage(i,'categoryIcon')" class="rui-1XUas rui-3_XwO"></span>
                    </a>
                  </div>
                </li>

              </div>
            </div>

          </div>
          <!-- Item Image Upload / End -->

          <div class="row with-forms">

            <label for="inputEmail3" class="col-12 col-form-label">Product Image</label>
            <div class="col-6">
              <button type="button" (click)="itemImageUpload('categoryDefaultImage')" class="btn btn-secondary waves-effect m-b-5">
                <i class="fa fa-image m-r-5"></i>
                <span>Choose Image</span>
              </button>
              <input id="categoryDefaultImage" (change)="itemImageGetfiles($event,'categoryDefaultImage')"
                type="file" style="display: none;" autocomplete="off">

            </div>


            <br />
            <!-- <p *ngIf="listingGalleryUrl.length > 0">Bridal Room Images</p> -->
            <div class="_2vNUv" aria-disabled="false" *ngIf="categoryDefaultImageUrl.length > 0">
              <div class="q_7hS" data-aut-id="imagesPreview">
                <ul class="_3IhNg"></ul>


                <li class="_1mplE zoomImage" draggable="true" *ngFor="let url of categoryDefaultImageUrl; let i=index;">
                  <div class="_3BJtT " data-aut-id="listSortable">
                    <div class="_20pqz" [ngStyle]="{'background-image': 'url(' + url + ')'}" data-aut-id="image"></div>
                    <a class="_1cS9Q">
                      <span (click)="removeImage(i,'categoryDefaultImage')" class="rui-1XUas rui-3_XwO"></span>
                    </a>
                  </div>
                </li>

              </div>
            </div>
        

          </div>



          <!-- <div class="row with-forms">

            <label for="inputEmail3" class="col-12 col-form-label">Image To Scan</label>
            <div class="col-6">
              <button type="button" (click)="itemImageUpload('scannedImage')" class="btn btn-secondary waves-effect m-b-5">
                <i class="fa fa-image m-r-5"></i>
                <span>Choose Image</span>
              </button>
              <input id="scannedImage" (change)="itemImageGetfiles($event,'scannedImage')"
                type="file" style="display: none;" autocomplete="off">

            </div>


            <br />
            <div class="_2vNUv" aria-disabled="false" *ngIf="scannedImageURL.length > 0">
              <div class="q_7hS" data-aut-id="imagesPreview">
                <ul class="_3IhNg"></ul>


                <li class="_1mplE zoomImage" draggable="true" *ngFor="let url of scannedImageURL; let i=index;">
                  <div class="_3BJtT " data-aut-id="listSortable">
                    <div class="_20pqz" [ngStyle]="{'background-image': 'url(' + url + ')'}" data-aut-id="image"></div>
                    <a class="_1cS9Q">
                      <span (click)="removeImage(i,'scannedImage')" class="rui-1XUas rui-3_XwO"></span>
                    </a>
                  </div>
                </li>

              </div>
            </div>
        

          </div> -->


        </div>

      </div>

    </div>

  </div>
  <div *ngIf="isDataLoaded" class="modal-footer">

    <div *ngIf="isRequested">
      <button type="button" class="btn btn-default" (click)="closeMe()" style="margin-right: 10px;">Close</button>
      <button type="submit" class="btn btn-primary" (click)="submitData()">Submit</button>
    </div>
    <!-- Loader  -->
    <div *ngIf="!isRequested">
      <button type="button" class="btn btn-default">Please Wait...</button>
    </div>

  </div>

</form>
