<div >
  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">{{spinnerText}}</p>
  </ngx-spinner>
</div>


<div class="container-fluid">
<!--login page start-->
<div class="authentication-main">
  <div class="row">
    <div class="col-md-4 p-0">
      <div class="auth-innerleft">
        <div class="text-center">
          <img src="assets/images/logo-main.jpeg" class="logo-login" alt=""> 
          <hr>
          <div class="social-media">
            <ul class="list-inline">
              <!-- <li class="list-inline-item"><i class="fa fa-facebook txt-fb" aria-hidden="true"></i></li>
              <li class="list-inline-item"><i class="fa fa-google-plus txt-google-plus" aria-hidden="true"></i></li>
              <li class="list-inline-item"><i class="fa fa-twitter txt-twitter" aria-hidden="true"></i></li>
              <li class="list-inline-item"><i class="fa fa-linkedin txt-linkedin" aria-hidden="true"></i></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 p-0">
      <div class="auth-innerright">
        <div class="authentication-box">
          <h4>LOGIN</h4>
          <h6>Enter your Email and Password</h6>
          <div class="card mt-4 p-4 mb-0">
            <form class="theme-form" #form="ngForm" (ngSubmit)="onSubmit(form)" autocomplete="false">
              <div class="form-group">
                <label class="col-form-label pt-0">Email</label>
                <input type="text" name="email" ngModel class="form-control form-control-lg" required>
              </div>
              <div class="form-group">
                <label class="col-form-label">Password</label>
                <input type="password" name="password" ngModel class="form-control form-control-lg" required>
              </div>
              <!-- <div class="checkbox p-0">
                <input id="checkbox1" type="checkbox">
                <label for="checkbox1">Remember me</label>
              </div> -->
              <div class="form-group form-row mt-3 mb-0">
                <div class="col-md-3">
                  <button type="submit" class="btn btn-secondary" [disabled]="isSubmitted">LOGIN</button>
                </div>
              </div>
            </form>

            <!-- <a (click)="forgetPassword()" style="margin-top:10px; cursor:pointer; color: primary" >Forget Password</a> -->
            <!-- Loader -->
            <div *ngIf="isSubmitted" class="lds-roller">
              <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--login page end-->
</div>